@font-face{
	font-family: Open_Sans;
	src: url(fonts/OpenSans-Italic.ttf);
}
.but1 {
	height: 125px;
	width: 100%;
	background-color: #4628B0;
	color: #FFFFFF;
	font-size: 35px;
	font-family: Open_Sans;
	margin-top: 1%;
	margin-bottom: 1%;
	box-shadow: 0 -3px #556B2F inset;
	transition: 0.5s;
}
.but1:active{
	background-color: #7B68EE;
}
.but1:hover{
	background-color: #0000CD;
}
table{
	width: 100%;
	height: 830px;
	border-style: dashed;
	border-color: #191970;
}
.table1{
	width: 20%;
	height: 100%;
	border-style: dashed;
	border-color: #191970;
}
.table2{
	width: 80%;
	height: 100%;
	border-style: dashed;
	border-color: #191970;

}
iframe{
	width: 100%;
	height: 100%;
}
.but2{
	height: 10%;
	width: 20%;
	background-color: #4628B0;
	color: #FFFFFF;
	font-size: 20px;
	font-family: Open_Sans;
	margin-top: 1%;
	margin-bottom: 1%;
	box-shadow: 0 -3px #110148 inset;
	transition: 0.5s;
	border-radius: 0.5%;
	margin-left: 40%;
	margin-right: 40%;
}
.but2:active{
	background-color: #0000CD;
}
.but2:hover{
	background-color: #7B68EE;
}
h1{
	font-size: 48px;
	color: #000066;
	font-family: Open_Sans;
}