.but{
	width: 30%;
	font-size: 24px;
	margin-right: 1%;
	border-color: #191970;
	border-radius: 3%;
	border-width: 10px;
	border-style: ridge;
	color: #000066;
	font-family: Open_Sans;
}
.but:active{
	background-color: #0000CD;
}
.but:hover{
	background-color: #7B68EE;
}
.text{
	font-size: 24px;
	color: #000066;
	font-family: Open_Sans;
}
select{
	width: 100%;
	text-align: center;
}
table{
	width: 100%;
	height: auto;
	border-width: thick;
	border-style: groove;
	border-color: #191970;
	text-align: center;
	font-size: 32px;
	color: #000066;
	font-family: Open_Sans;
}
#num {
	width: 3%;
}
h1{
	font-size: 52px;
	color: #000066;
	font-weight: bold;
	font-family: Open_Sans;
}
@font-face{
	font-family: Open_Sans;
	src: url(fonts/OpenSans-Italic.ttf);
}